body{

background-color:silver;

}

#cadre{

position:relative;

background-color:red;

width:300px;


left:-5px;

top:30px;

}

#projet{

position:relative;

height:70%;
width:40%;
left:5px;

}

#canvas{

position:relative;
background-color:white;
height:530px;
width:950px;
top:-70px;
left:102%;

}

#workplace{
position:relative;
background-color:blue;

height:100px;
width:22.90%;



}

