body{

background-color:silver;

}

#cadre{

position:absolute;

width:95%;
left:2px;
top:30px;

}

#projet{

position:relative;
border-bottom:1px black solid;
height:70%;
width:40%;
left:5px;

}

#canvas{

position:absolute;
background-color:white;
height:105%;
width:920px;
top:0px;
left:102%;

}

#workplace{
position:relative;
background-color:blue;
height:540px;
width:22.90%;
}

