body{

background-color:silver;

}

#cadre{

position:relative;

border:3px black solid;

width:300px;

height:80%;

left:-5px;

top:30px;

}

#projet{

position:relative;

height:70%;
width:40%;
border:3px black solid;
left:5px;

}

#canvas{

position : absolute;
border:3px black solid;
height:530px;
width:950px;
top:90px;
left:320px;

}

#workplace{

background-color:blue;

}

